node-red.flow
[{"id":"9ac0893f.15a298","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3013eb65.85ecf4","type":"mqtt out","z":"9ac0893f.15a298","name":"","topic":"servo/vertical/angle/set","qos":"0","retain":"","broker":"1b6a728f.c180fd","x":880,"y":380,"wires":[]},{"id":"56174d43.4f5224","type":"ui_slider","z":"9ac0893f.15a298","name":"","label":"vertical","tooltip":"","group":"451ec332.1bdfdc","order":0,"width":"1","height":"5","passthru":true,"outs":"all","topic":"","min":0,"max":"180","step":1,"x":680,"y":460,"wires":[["3013eb65.85ecf4"]]},{"id":"750a4426.a897dc","type":"ui_slider","z":"9ac0893f.15a298","name":"","label":"horizontal","tooltip":"","group":"451ec332.1bdfdc","order":0,"width":"6","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"180","step":1,"x":687,"y":177,"wires":[["22b44804.2fed98"]]},{"id":"22b44804.2fed98","type":"mqtt out","z":"9ac0893f.15a298","name":"","topic":"servo/horizontal/angle/set","qos":"0","retain":"","broker":"1b6a728f.c180fd","x":910,"y":280,"wires":[]},{"id":"75092f65.2f10a","type":"mqtt in","z":"9ac0893f.15a298","name":"","topic":"object/movement","qos":"2","datatype":"auto","broker":"1b6a728f.c180fd","x":140,"y":280,"wires":[["d8d083.70bedf8"]]},{"id":"d8d083.70bedf8","type":"json","z":"9ac0893f.15a298","name":"","property":"payload","action":"","pretty":false,"x":300,"y":280,"wires":[["c2f5e94.2ca4418","ceeb3df2.3974b"]]},{"id":"c2f5e94.2ca4418","type":"function","z":"9ac0893f.15a298","name":"","func":"let x = msg.payload.x;\n\nangle = flow.get('horizontal_angle') || 90;\n\nif (x > 290) {\n   angle-= 2;\n   \n}else if (x < 290) {\n\n    angle += 2;\n}\nelse\n{\n    return;\n}\n\nif (angle > 180) angle = 90;\nif (angle < 0) angle = 90;\n\nflow.set('horizontal_angle', angle);\n\nmsg.payload = angle;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[["750a4426.a897dc"]]},{"id":"9feaf39b.99df9","type":"mqtt in","z":"9ac0893f.15a298","name":"","topic":"servo/horizontal/angle","qos":"0","datatype":"auto","broker":"1b6a728f.c180fd","x":450,"y":180,"wires":[["750a4426.a897dc"]]},{"id":"ceeb3df2.3974b","type":"function","z":"9ac0893f.15a298","name":"","func":"let y = msg.payload.y;\n\nangle = flow.get('vertical_angle') || 90;\n\nif (y < 195) {\n   angle -= 2;\n   \n}else if (y > 195) {\n\n    angle += 2;\n}\nelse\n{\n    return;\n}\n\nif (angle > 180) angle = 90;\nif (angle < 0) angle = 90;\n\nflow.set('vertical_angle', angle);\n\nmsg.payload = angle;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":380,"wires":[["56174d43.4f5224"]]},{"id":"71bc0219.1a787c","type":"mqtt in","z":"9ac0893f.15a298","name":"","topic":"servo/vertical/angle","qos":"0","datatype":"auto","broker":"1b6a728f.c180fd","x":430,"y":460,"wires":[["56174d43.4f5224"]]},{"id":"1b6a728f.c180fd","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"451ec332.1bdfdc","type":"ui_group","z":"","name":"Default","tab":"c7566932.7e98d8","disp":true,"width":"6","collapse":false},{"id":"c7566932.7e98d8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
