node-red.flow
[{"id":"9ac0893f.15a298","type":"tab","label":"Camera","disabled":false,"info":""},{"id":"d678c342.9a039","type":"tab","label":"GO","disabled":false,"info":""},{"id":"683a2b63.f6cad4","type":"tab","label":"Body","disabled":false,"info":""},{"id":"235f9d9e.d6c092","type":"tab","label":"Eyes","disabled":false,"info":""},{"id":"ee6e9017.4403","type":"tab","label":"gesture","disabled":false,"info":""},{"id":"721eb409.04fe9c","type":"tab","label":"Camera controler","disabled":false,"info":""},{"id":"de5384f0.ddfab8","type":"subflow","name":"gesture-bye","info":"","category":"","in":[{"x":70,"y":85,"wires":[{"id":"5a13c28d.fa6d34"}]}],"out":[],"env":[]},{"id":"2d5b175.a814ae8","type":"subflow","name":"gesture-clap","info":"","category":"","in":[{"x":70,"y":80,"wires":[{"id":"e2dd0224.40eb8"}]}],"out":[],"env":[]},{"id":"15a238af.6dcce7","type":"subflow","name":"gesture-left-wave","info":"","category":"","in":[{"x":244,"y":80,"wires":[{"id":"e2b275d0.2805d8"}]}],"out":[],"env":[]},{"id":"d3a27828.e547b8","type":"subflow","name":"gesture-right-wave","info":"","category":"","in":[{"x":244,"y":80,"wires":[{"id":"24c2db8f.62d414"}]}],"out":[],"env":[]},{"id":"92fa30da.6d9f6","type":"subflow","name":"Head movement","info":"","category":"","in":[{"x":209,"y":99,"wires":[{"id":"2723def1.1fd612"}]}],"out":[],"env":[]},{"id":"1b6a728f.c180fd","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"451ec332.1bdfdc","type":"ui_group","z":"","name":"Camera","tab":"c7566932.7e98d8","order":1,"disp":true,"width":"14","collapse":false},{"id":"c7566932.7e98d8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b8723ba4.2220a8","type":"firebase config","z":"","firebaseurl":"robot-ronny","loginType":"none"},{"id":"c9393a56.8048c8","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bb54bd66.f0e33","type":"firebase config","z":"","firebaseurl":"robot-ronny","loginType":"jwt"},{"id":"a6cac61c.dae608","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d30ed5fd.1e4a48","type":"ui_group","z":"","name":"GO","tab":"c7566932.7e98d8","order":2,"disp":true,"width":"4","collapse":false},{"id":"ed4b7bae.b7f2f8","type":"ui_group","z":"","name":"Body","tab":"c7566932.7e98d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"e8ea369f.3e6d58","type":"blynk-ws-client","z":"","name":"Vojta Blynk","path":"ws://www.vojtechpetrasek.com:8080/websockets","key":"d9d713c497fc49b2b9aae63d8673988a","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":"","enabled":true},{"id":"3718557c.fc8e2a","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"57dd2a7d.fb8ee4","type":"ui_group","z":"","name":"Eyes","tab":"c7566932.7e98d8","disp":true,"width":"6","collapse":false},{"id":"bbb9eec7.c40ec","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3013eb65.85ecf4","type":"mqtt out","z":"9ac0893f.15a298","name":"","topic":"servo/vertical/angle/set","qos":"0","retain":"","broker":"1b6a728f.c180fd","x":571,"y":519,"wires":[]},{"id":"56174d43.4f5224","type":"ui_slider","z":"9ac0893f.15a298","name":"","label":"","tooltip":"","group":"451ec332.1bdfdc","order":2,"width":"1","height":"10","passthru":false,"outs":"all","topic":"","min":0,"max":"180","step":1,"x":327,"y":521,"wires":[["3013eb65.85ecf4"]]},{"id":"750a4426.a897dc","type":"ui_slider","z":"9ac0893f.15a298","name":"","label":"","tooltip":"","group":"451ec332.1bdfdc","order":3,"width":"13","height":"1","passthru":false,"outs":"all","topic":"","min":0,"max":"180","step":1,"x":108,"y":455,"wires":[["22b44804.2fed98"]]},{"id":"22b44804.2fed98","type":"mqtt out","z":"9ac0893f.15a298","name":"","topic":"servo/horizontal/angle/set","qos":"0","retain":"","broker":"1b6a728f.c180fd","x":576,"y":455,"wires":[]},{"id":"75092f65.2f10a","type":"mqtt in","z":"9ac0893f.15a298","name":"","topic":" ronny/camera/object","qos":"0","datatype":"auto","broker":"1b6a728f.c180fd","x":148,"y":79,"wires":[[]]},{"id":"d8d083.70bedf8","type":"json","z":"9ac0893f.15a298","name":"","property":"payload","action":"","pretty":false,"x":112,"y":328,"wires":[["c2f5e94.2ca4418"]]},{"id":"c2f5e94.2ca4418","type":"function","z":"9ac0893f.15a298","name":"","func":"let x = msg.payload.x;\n\nlet last_angle = flow.get('horizontal_angle') || 90;\nlet angle = flow.get('horizontal_angle') || 90;\nlet buffer = context.get('buffer') || [];\nlet last_derivation = context.get('last_derivation') || 0;\nlet derivation;\n\nif (x > 290) {\n   angle+= 2;\n}else if (x < 290) {\n    angle -= 2;\n}\nelse\n{\n    return;\n}\n\nif (angle > 180) angle = 90;\nif (angle < 0) angle = 90;\n\nif (buffer.length < 2) {\n    buffer.push(angle);\n} else {\n    buffer[2] = angle;\n}\n\nif (buffer.length === 3) {\n    derivation = (buffer[0] - (4 * buffer[1]) + (3 * buffer[2])) / 0.1;\n}\n\nflow.set('horizontal_angle', angle);\ncontext.set('buffer', buffer);\ncontext.set('last_derivation', derivation);\n\n// node.warn(derivation);\n\nif ((Math.abs(last_derivation) - Math.abs(derivation)) > 10) {\n    msg.payload = angle;   \n} else {\n    msg.payload = last_angle;\n}\n\nmsg.payload = angle;\n\nreturn msg;","outputs":1,"noerr":0,"x":333,"y":325,"wires":[[]]},{"id":"9feaf39b.99df9","type":"mqtt in","z":"9ac0893f.15a298","name":"","topic":"servo/horizontal/angle","qos":"0","datatype":"auto","broker":"1b6a728f.c180fd","x":157,"y":160,"wires":[[]]},{"id":"ceeb3df2.3974b","type":"function","z":"9ac0893f.15a298","name":"","func":"let y = msg.payload.y;\n\n// let last_angle = flow.get('vertical_angle') || 90;\nlet angle = flow.get('vertical_angle') || 90;\n// let buffer = context.get('buffer') || [];\n// let last_derivation = context.get('last_derivation') || 0;\n// let derivation;\n\nif (y < 195) {\n   angle += 2;\n}else if (y > 195) {\n    angle -= 2;\n}\nelse\n{\n    return;\n}\n\nif (angle > 180) angle = 90;\nif (angle < 0) angle = 90;\n\n// if (buffer.length < 2) {\n//     buffer.push(angle);\n// } else {\n//     buffer[2] = angle;\n// }\n\n// if (buffer.length === 3) {\n//     derivation = (buffer[0] - (4 * buffer[1]) + (3 * buffer[2]));\n// }\n\nflow.set('vertical_angle', angle);\n// context.set('buffer', buffer);\n// context.set('last_derivation', derivation);\n\n// if ((Math.abs(last_derivation) - Math.abs(derivation)) > 10) {\n//     msg.payload = angle;   \n// } else {\n    \n// }\n\nmsg.payload = angle;\n\nreturn msg;","outputs":1,"noerr":0,"x":108,"y":521,"wires":[["56174d43.4f5224"]]},{"id":"71bc0219.1a787c","type":"mqtt in","z":"9ac0893f.15a298","name":"","topic":"servo/vertical/angle","qos":"0","datatype":"auto","broker":"1b6a728f.c180fd","x":152,"y":240,"wires":[[]]},{"id":"6ff46e92.9c87c","type":"ui_template","z":"9ac0893f.15a298","group":"451ec332.1bdfdc","name":"","order":1,"width":"13","height":"10","format":"<img id=\"videoimg\" src=\"\"/>\n<script>\n    document.getElementById('videoimg').src = \"http://\" + document.location.hostname  + \":8080/cam.mjpg\";\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":130,"y":398,"wires":[[]]},{"id":"74337050.311fc","type":"mqtt out","z":"d678c342.9a039","name":"","topic":"ronny/go/stop","qos":"","retain":"","broker":"1b6a728f.c180fd","x":520,"y":127,"wires":[]},{"id":"6cfa20e7.6504c","type":"mqtt out","z":"d678c342.9a039","name":"","topic":"ronny/go/forward","qos":"","retain":"","broker":"1b6a728f.c180fd","x":527,"y":260,"wires":[]},{"id":"da9d535c.3f3c9","type":"mqtt out","z":"d678c342.9a039","name":"","topic":"ronny/go/backward","qos":"","retain":"","broker":"1b6a728f.c180fd","x":528,"y":315,"wires":[]},{"id":"eb18daac.6f40c8","type":"mqtt out","z":"d678c342.9a039","name":"","topic":"ronny/go/left","qos":"","retain":"","broker":"1b6a728f.c180fd","x":507,"y":377,"wires":[]},{"id":"75ec1ec2.7c54","type":"mqtt out","z":"d678c342.9a039","name":"","topic":"ronny/go/right","qos":"","retain":"","broker":"1b6a728f.c180fd","x":515,"y":435,"wires":[]},{"id":"b92f3ae4.9bfce8","type":"ui_button","z":"d678c342.9a039","name":"","group":"d30ed5fd.1e4a48","order":2,"width":0,"height":0,"passthru":false,"label":"STOP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{}","payloadType":"json","topic":"","x":88,"y":64,"wires":[["74337050.311fc"]]},{"id":"493d0d9d.df0364","type":"ui_slider","z":"d678c342.9a039","name":"","label":"Speed","tooltip":"","group":"d30ed5fd.1e4a48","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"55","max":"255","step":"1","x":87,"y":193,"wires":[["5bec9f24.07c4f"]]},{"id":"f05b3688.ce74c8","type":"ui_button","z":"d678c342.9a039","name":"","group":"d30ed5fd.1e4a48","order":3,"width":0,"height":0,"passthru":false,"label":"Forward","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":97,"y":259,"wires":[["1e984af9.2ef335"]]},{"id":"c3201835.60be38","type":"ui_button","z":"d678c342.9a039","name":"","group":"d30ed5fd.1e4a48","order":6,"width":0,"height":0,"passthru":false,"label":"Backward","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":94,"y":315,"wires":[["4b5d32c0.b7648c"]]},{"id":"5bec9f24.07c4f","type":"change","z":"d678c342.9a039","name":"","rules":[{"t":"set","p":"speed","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":519,"y":197,"wires":[[]]},{"id":"1e984af9.2ef335","type":"function","z":"d678c342.9a039","name":"","func":"let param = { interval: 1000, speed: flow.get('speed')};\nreturn {payload: JSON.stringify(param) };","outputs":1,"noerr":0,"x":322,"y":259,"wires":[["6cfa20e7.6504c"]]},{"id":"4b5d32c0.b7648c","type":"function","z":"d678c342.9a039","name":"","func":"let param = { interval: 1000, speed: flow.get('speed')};\nreturn {payload: JSON.stringify(param) };","outputs":1,"noerr":0,"x":320,"y":314,"wires":[["da9d535c.3f3c9"]]},{"id":"90019c28.10a05","type":"ui_button","z":"d678c342.9a039","name":"","group":"d30ed5fd.1e4a48","order":4,"width":"2","height":"1","passthru":false,"label":"Left","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":85,"y":377,"wires":[["27290df1.3677d2"]]},{"id":"27290df1.3677d2","type":"function","z":"d678c342.9a039","name":"","func":"let param = { interval: 1000, speed: flow.get('speed')};\nreturn {payload: JSON.stringify(param) };","outputs":1,"noerr":0,"x":320,"y":377,"wires":[["eb18daac.6f40c8"]]},{"id":"4c52b249.31a9bc","type":"ui_button","z":"d678c342.9a039","name":"","group":"d30ed5fd.1e4a48","order":5,"width":"2","height":"1","passthru":false,"label":"Right","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":86,"y":434,"wires":[["9cb05287.6b77e"]]},{"id":"9cb05287.6b77e","type":"function","z":"d678c342.9a039","name":"","func":"let param = { interval: 1000, speed: flow.get('speed')};\nreturn {payload: JSON.stringify(param) };","outputs":1,"noerr":0,"x":321,"y":434,"wires":[["75ec1ec2.7c54"]]},{"id":"a2a67da7.a4d67","type":"ui_slider","z":"683a2b63.f6cad4","name":"","label":"left/arm/0","tooltip":"","group":"ed4b7bae.b7f2f8","order":2,"width":0,"height":0,"passthru":false,"outs":"all","topic":"ronny/left/arm/0","min":0,"max":"180","step":1,"x":321.99999618530273,"y":56.00001907348633,"wires":[["14d2a524.6f076b"]]},{"id":"14d2a524.6f076b","type":"mqtt out","z":"683a2b63.f6cad4","name":"","topic":"","qos":"","retain":"","broker":"c9393a56.8048c8","x":517.0000419616699,"y":248.99993896484375,"wires":[]},{"id":"181941ea.ce14be","type":"ui_slider","z":"683a2b63.f6cad4","name":"","label":"left/arm/1","tooltip":"","group":"ed4b7bae.b7f2f8","order":3,"width":0,"height":0,"passthru":false,"outs":"all","topic":"ronny/left/arm/1","min":0,"max":"180","step":1,"x":321,"y":112.00003051757812,"wires":[["14d2a524.6f076b"]]},{"id":"9f363af8.7ba8e8","type":"ui_slider","z":"683a2b63.f6cad4","name":"","label":"left/elbow/0","tooltip":"","group":"ed4b7bae.b7f2f8","order":4,"width":0,"height":0,"passthru":false,"outs":"all","topic":"ronny/left/elbow/0","min":0,"max":"180","step":1,"x":327,"y":163.00001525878906,"wires":[["14d2a524.6f076b"]]},{"id":"e116896f.6b6578","type":"ui_slider","z":"683a2b63.f6cad4","name":"","label":"left/elbow/1","tooltip":"","group":"ed4b7bae.b7f2f8","order":5,"width":0,"height":0,"passthru":false,"outs":"all","topic":"ronny/left/elbow/1","min":0,"max":"180","step":1,"x":327,"y":212,"wires":[["14d2a524.6f076b"]]},{"id":"4eacd7f3.c9e2a8","type":"ui_slider","z":"683a2b63.f6cad4","name":"","label":"right/arm/0","tooltip":"","group":"ed4b7bae.b7f2f8","order":6,"width":0,"height":0,"passthru":false,"outs":"all","topic":"ronny/right/arm/0","min":"0","max":"180","step":1,"x":323,"y":265.0000305175781,"wires":[["14d2a524.6f076b"]]},{"id":"bb93b9fc.8089b8","type":"ui_slider","z":"683a2b63.f6cad4","name":"","label":"chest","tooltip":"","group":"ed4b7bae.b7f2f8","order":1,"width":0,"height":0,"passthru":false,"outs":"all","topic":"ronny/body/chest","min":"0","max":"180","step":1,"x":310.9999694824219,"y":454,"wires":[["14d2a524.6f076b"]]},{"id":"4ee9fd44.2f2e24","type":"ui_slider","z":"683a2b63.f6cad4","name":"","label":"right/arm/1","tooltip":"","group":"ed4b7bae.b7f2f8","order":7,"width":0,"height":0,"passthru":false,"outs":"all","topic":"ronny/right/arm/1","min":0,"max":"180","step":1,"x":323,"y":314.00006103515625,"wires":[["14d2a524.6f076b"]]},{"id":"2bf7ef5d.bc7c1","type":"ui_slider","z":"683a2b63.f6cad4","name":"","label":"right/elbow/0","tooltip":"","group":"ed4b7bae.b7f2f8","order":8,"width":0,"height":0,"passthru":false,"outs":"all","topic":"ronny/right/elbow/0","min":0,"max":"180","step":1,"x":326.9999694824219,"y":364,"wires":[["14d2a524.6f076b"]]},{"id":"159d589d.e0bbd7","type":"ui_slider","z":"683a2b63.f6cad4","name":"","label":"right/elbow/1","tooltip":"","group":"ed4b7bae.b7f2f8","order":9,"width":0,"height":0,"passthru":false,"outs":"all","topic":"ronny/right/elbow/1","min":0,"max":"180","step":1,"x":328,"y":414,"wires":[["14d2a524.6f076b"]]},{"id":"8173e70a.794fa8","type":"inject","z":"683a2b63.f6cad4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":711,"y":286,"wires":[["e8eceba.b41c818"]]},{"id":"de2f4abf.ea0f58","type":"function","z":"683a2b63.f6cad4","name":"","func":"let cnt = context.get('cnt') || 20; \n\nif (cnt % 2 === 0) {\n    msg.payload = 170;\n} else {\n    msg.payload = 130;\n}\n\ncnt--;\n\ncontext.set('cnt', cnt);\n\nif (cnt === 0){\n  context.set('cnt', 20);\n  return;\n} \n\n\nreturn msg;","outputs":1,"noerr":0,"x":906,"y":162,"wires":[["edd7c148.611a3","7bb0aaac.9a9bd4","bd3a0271.6b7bb"]]},{"id":"e85b230e.9229d","type":"mqtt out","z":"683a2b63.f6cad4","name":"","topic":"at/S1","qos":"","retain":"","broker":"c9393a56.8048c8","x":1133,"y":499,"wires":[]},{"id":"edd7c148.611a3","type":"debug","z":"683a2b63.f6cad4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1125,"y":295,"wires":[]},{"id":"7bb0aaac.9a9bd4","type":"trigger","z":"683a2b63.f6cad4","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":906,"y":84,"wires":[["de2f4abf.ea0f58"]]},{"id":"f25f872d.619d78","type":"blynk-ws-in-write","z":"d678c342.9a039","name":"","pin":"0","pin_all":0,"client":"e8ea369f.3e6d58","x":125,"y":487,"wires":[["1e984af9.2ef335"]]},{"id":"b2b613c4.aa696","type":"blynk-ws-in-write","z":"d678c342.9a039","name":"","pin":"4","pin_all":0,"client":"e8ea369f.3e6d58","x":123,"y":547,"wires":[["4b5d32c0.b7648c"]]},{"id":"cf7c5531.1a6cb8","type":"blynk-ws-in-write","z":"d678c342.9a039","name":"","pin":"1","pin_all":0,"client":"e8ea369f.3e6d58","x":124,"y":603,"wires":[["27290df1.3677d2"]]},{"id":"8ccb894c.85d648","type":"blynk-ws-in-write","z":"d678c342.9a039","name":"","pin":"3","pin_all":0,"client":"e8ea369f.3e6d58","x":122,"y":660,"wires":[["9cb05287.6b77e"]]},{"id":"a061c9c8.0c06b8","type":"blynk-ws-in-write","z":"d678c342.9a039","name":"","pin":"2","pin_all":0,"client":"e8ea369f.3e6d58","x":127,"y":124,"wires":[["74337050.311fc"]]},{"id":"f20cff48.0220b","type":"mqtt out","z":"683a2b63.f6cad4","name":"","topic":"at/S6","qos":"","retain":"","broker":"c9393a56.8048c8","x":1126,"y":363,"wires":[]},{"id":"bd3a0271.6b7bb","type":"mqtt out","z":"683a2b63.f6cad4","name":"","topic":"at/S5","qos":"","retain":"","broker":"c9393a56.8048c8","x":1119,"y":151,"wires":[]},{"id":"bb628955.17a7b8","type":"function","z":"683a2b63.f6cad4","name":"","func":"let cnt = context.get('cnt') || 20; \n\nif (cnt % 2 === 0) {\n    msg.payload = 20;\n} else {\n    msg.payload = 80;\n}\n\ncnt--;\n\ncontext.set('cnt', cnt);\n\nif (cnt === 0){\n  context.set('cnt', 20);\n  return;\n} \n\n\nreturn msg;","outputs":1,"noerr":0,"x":923,"y":365,"wires":[["e8eceba.b41c818","f20cff48.0220b"]]},{"id":"e8eceba.b41c818","type":"trigger","z":"683a2b63.f6cad4","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":908,"y":284,"wires":[["bb628955.17a7b8"]]},{"id":"2a4122e8.5ad5be","type":"inject","z":"683a2b63.f6cad4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":713,"y":84,"wires":[["7bb0aaac.9a9bd4"]]},{"id":"61d69473.55b29c","type":"inject","z":"683a2b63.f6cad4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":707,"y":183,"wires":[["7bb0aaac.9a9bd4","e8eceba.b41c818"]]},{"id":"b06564bf.7ff0e8","type":"function","z":"683a2b63.f6cad4","name":"","func":"let cnt = context.get('cnt') || 20; \n\nif (cnt % 2 === 0) {\n    msg.payload = 180;\n} else {\n    msg.payload = 120;\n}\n\ncnt--;\n\ncontext.set('cnt', cnt);\n\nif (cnt === 0){\n  context.set('cnt', 20);\n  return;\n} \n\n\nreturn msg;","outputs":1,"noerr":0,"x":916,"y":498,"wires":[["1e144872.093a98","e85b230e.9229d"]]},{"id":"1e144872.093a98","type":"trigger","z":"683a2b63.f6cad4","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":912,"y":420,"wires":[["b06564bf.7ff0e8"]]},{"id":"251d1ccb.5397f4","type":"inject","z":"683a2b63.f6cad4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":125.69317626953125,"y":539.96875,"wires":[["b88d0034.0c1d"]]},{"id":"b88d0034.0c1d","type":"function","z":"683a2b63.f6cad4","name":"test arms func","func":"return [[\n    {payload: 82,\n    topic: \"ronny/left/arm/0\"},\n    {payload: 42,\n    topic: \"ronny/left/arm/1\"},\n    {payload: 4,\n    topic: \"ronny/left/elbow/0\"},\n    {payload: 33,\n    topic: \"ronny/left/elbow/1\"},\n    \n    {payload: 82,\n    topic: \"ronny/right/arm/0\"},\n    {payload: 42,\n    topic: \"ronny/right/arm/1\"},\n    {payload: 4,\n    topic: \"ronny/right/elbow/0\"},\n    {payload: 33,\n    topic: \"ronny/right/elbow/1\"}\n]]\n","outputs":1,"noerr":0,"x":338.69036865234375,"y":539.9232177734375,"wires":[["371a041.35c3bfc"]]},{"id":"371a041.35c3bfc","type":"mqtt out","z":"683a2b63.f6cad4","name":"","topic":"","qos":"","retain":"","broker":"1b6a728f.c180fd","x":510.696044921875,"y":538.5056762695312,"wires":[]},{"id":"d581b0d3.a95cb","type":"mqtt in","z":"683a2b63.f6cad4","name":"","topic":"ronny/left/arm/0","qos":"0","datatype":"auto","broker":"1b6a728f.c180fd","x":128.99999237060547,"y":56.923269271850586,"wires":[["a2a67da7.a4d67"]]},{"id":"862297ee.1ede48","type":"mqtt in","z":"683a2b63.f6cad4","name":"","topic":"ronny/left/arm/1","qos":"0","datatype":"auto","broker":"1b6a728f.c180fd","x":127.01420593261719,"y":110.00568389892578,"wires":[["181941ea.ce14be"]]},{"id":"5e88cd98.c3b494","type":"mqtt in","z":"683a2b63.f6cad4","name":"","topic":"ronny/left/elbow/0","qos":"0","datatype":"auto","broker":"1b6a728f.c180fd","x":127.01420593261719,"y":162.00567626953125,"wires":[["9f363af8.7ba8e8"]]},{"id":"df439d81.f5921","type":"mqtt in","z":"683a2b63.f6cad4","name":"","topic":"ronny/left/elbow/1","qos":"0","datatype":"auto","broker":"1b6a728f.c180fd","x":125.01420593261719,"y":211.00567626953125,"wires":[["e116896f.6b6578"]]},{"id":"c1eb9db1.885c1","type":"mqtt in","z":"683a2b63.f6cad4","name":"","topic":"ronny/right/arm/0","qos":"0","datatype":"auto","broker":"1b6a728f.c180fd","x":124.01420593261719,"y":264.00567626953125,"wires":[["4eacd7f3.c9e2a8"]]},{"id":"caddf019.a7ca4","type":"mqtt in","z":"683a2b63.f6cad4","name":"","topic":"ronny/right/arm/1","qos":"0","datatype":"auto","broker":"1b6a728f.c180fd","x":125.02841186523438,"y":315.0881042480469,"wires":[["4ee9fd44.2f2e24"]]},{"id":"dfd221a9.e8c13","type":"mqtt in","z":"683a2b63.f6cad4","name":"","topic":"ronny/right/elbow/0","qos":"0","datatype":"auto","broker":"1b6a728f.c180fd","x":134.02841186523438,"y":364.08807373046875,"wires":[["2bf7ef5d.bc7c1"]]},{"id":"40f902ac.acba4c","type":"mqtt in","z":"683a2b63.f6cad4","name":"","topic":"ronny/right/elbow/1","qos":"0","datatype":"auto","broker":"1b6a728f.c180fd","x":134.02841186523438,"y":414.08807373046875,"wires":[["159d589d.e0bbd7"]]},{"id":"3771a813.419198","type":"function","z":"ee6e9017.4403","name":"right hand up","func":"return [[\n    {payload: 155,\n    topic: \"ronny/right/arm/0\"},\n    {payload: 49,\n    topic: \"ronny/right/arm/1\"},\n    {payload: 25,\n    topic: \"ronny/right/elbow/0\"},\n    {payload: 30,\n    topic: \"ronny/right/elbow/1\"}\n]]\n","outputs":1,"noerr":0,"x":458.011474609375,"y":51.96012878417969,"wires":[["ba62c025.1c6e7"]]},{"id":"ba62c025.1c6e7","type":"mqtt out","z":"ee6e9017.4403","name":"","topic":"","qos":"","retain":"","broker":"1b6a728f.c180fd","x":671.0170707702637,"y":175.5426025390625,"wires":[]},{"id":"e2dd0224.40eb8","type":"function","z":"2d5b175.a814ae8","name":"","func":"return [[\n    {payload: 82,\n    topic: \"ronny/left/arm/0\"},\n    {payload: 42,\n    topic: \"ronny/left/arm/1\"},\n    {payload: 4,\n    topic: \"ronny/left/elbow/0\"},\n    {payload: 33,\n    topic: \"ronny/left/elbow/1\"},\n    \n    {payload: 82,\n    topic: \"ronny/right/arm/0\"},\n    {payload: 42,\n    topic: \"ronny/right/arm/1\"},\n    {payload: 4,\n    topic: \"ronny/right/elbow/0\"},\n    {payload: 33,\n    topic: \"ronny/right/elbow/1\"}\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":200,"y":80,"wires":[["b7d78313.ed7ee"],["3b04803b.9294a"]]},{"id":"566106e3.e294d8","type":"mqtt in","z":"ee6e9017.4403","name":"","topic":"ronny/gesture/right-hand-up","qos":"2","datatype":"auto","broker":"1b6a728f.c180fd","x":194.69317626953125,"y":49.909088134765625,"wires":[["3771a813.419198"]]},{"id":"a17ce35c.44d2f","type":"ui_button","z":"ee6e9017.4403","name":"","group":"ed4b7bae.b7f2f8","order":10,"width":"4","height":"1","passthru":false,"label":"Right hand up","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":158.69601440429688,"y":110.42611694335938,"wires":[["3771a813.419198"]]},{"id":"cc20430e.4be42","type":"function","z":"ee6e9017.4403","name":"left hand up","func":"return [[\n    {payload: 174,\n    topic: \"ronny/left/arm/0\"},\n    {payload: 59,\n    topic: \"ronny/left/arm/1\"},\n    {payload: 8,\n    topic: \"ronny/left/elbow/0\"},\n    {payload: 8,\n    topic: \"ronny/left/elbow/1\"}\n]]\n","outputs":1,"noerr":0,"x":463.0142822265625,"y":274.0056457519531,"wires":[["ba62c025.1c6e7"]]},{"id":"d9b2f4a2.8d7588","type":"mqtt in","z":"ee6e9017.4403","name":"","topic":"ronny/gesture/left-hand-up","qos":"2","datatype":"auto","broker":"1b6a728f.c180fd","x":200.01422119140625,"y":273.00567626953125,"wires":[["cc20430e.4be42"]]},{"id":"7000408d.b32ab","type":"ui_button","z":"ee6e9017.4403","name":"","group":"ed4b7bae.b7f2f8","order":12,"width":"4","height":"1","passthru":false,"label":"Left hand up","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":162.01422119140625,"y":334.0056457519531,"wires":[["cc20430e.4be42"]]},{"id":"6b00a8ec.f81cf8","type":"function","z":"ee6e9017.4403","name":"left hand down","func":"return [[\n    {payload: 32,\n    topic: \"ronny/left/arm/0\"},\n    {payload: 59,\n    topic: \"ronny/left/arm/1\"},\n    {payload: 8,\n    topic: \"ronny/left/elbow/0\"},\n    {payload: 8,\n    topic: \"ronny/left/elbow/1\"}\n]]\n","outputs":1,"noerr":0,"x":471.01422119140625,"y":378.00567626953125,"wires":[["ba62c025.1c6e7"]]},{"id":"1b746424.86417c","type":"mqtt in","z":"ee6e9017.4403","name":"","topic":"ronny/gesture/left-hand-down","qos":"2","datatype":"auto","broker":"1b6a728f.c180fd","x":209.01422119140625,"y":383.00567626953125,"wires":[["6b00a8ec.f81cf8"]]},{"id":"19d730c6.f51ebf","type":"ui_button","z":"ee6e9017.4403","name":"","group":"ed4b7bae.b7f2f8","order":15,"width":"2","height":"1","passthru":false,"label":"down","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140.01419067382812,"y":441.0056457519531,"wires":[["6b00a8ec.f81cf8"]]},{"id":"80d57281.5a096","type":"function","z":"ee6e9017.4403","name":"right hand down","func":"return [[\n    {payload: 20,\n    topic: \"ronny/right/arm/0\"},\n    {payload: 44,\n    topic: \"ronny/right/arm/1\"},\n    {payload: 8,\n    topic: \"ronny/right/elbow/0\"},\n    {payload: 8,\n    topic: \"ronny/right/elbow/1\"}\n]]\n","outputs":1,"noerr":0,"x":473.01409912109375,"y":164.00564575195312,"wires":[["ba62c025.1c6e7"]]},{"id":"7ae37785.e2c8c8","type":"mqtt in","z":"ee6e9017.4403","name":"","topic":"ronny/gesture/right-hand-down","qos":"2","datatype":"auto","broker":"1b6a728f.c180fd","x":209.01409912109375,"y":163.0056505203247,"wires":[["80d57281.5a096"]]},{"id":"2469afbd.9b45c","type":"ui_button","z":"ee6e9017.4403","name":"","group":"ed4b7bae.b7f2f8","order":11,"width":"2","height":"1","passthru":false,"label":"down","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":142.01406860351562,"y":221.005615234375,"wires":[["80d57281.5a096"]]},{"id":"47526387.c3b34c","type":"mqtt in","z":"ee6e9017.4403","name":"","topic":"ronny/gesture/left-wave","qos":"2","datatype":"auto","broker":"1b6a728f.c180fd","x":188.66668701171875,"y":609.666748046875,"wires":[["9afd7029.deb948"]]},{"id":"55d0af19.91b4f","type":"ui_button","z":"ee6e9017.4403","name":"","group":"ed4b7bae.b7f2f8","order":13,"width":"3","height":"1","passthru":false,"label":"Left wave","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":152.66668701171875,"y":654.666748046875,"wires":[["9afd7029.deb948"]]},{"id":"e2b275d0.2805d8","type":"function","z":"15a238af.6dcce7","name":"","func":"return [[\n    {payload: 174,\n    topic: \"ronny/left/arm/0\"},\n    {payload: 59,\n    topic: \"ronny/left/arm/1\"},\n    {payload: 68,\n    topic: \"ronny/left/elbow/0\"},\n    {payload: 8,\n    topic: \"ronny/left/elbow/1\"}\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":374,"y":80,"wires":[["18f48387.ed10dc"],["cdf6171d.6c3cb8"]]},{"id":"cdf6171d.6c3cb8","type":"delay","z":"15a238af.6dcce7","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":155,"wires":[["dda565e5.e47c08"]]},{"id":"dda565e5.e47c08","type":"function","z":"15a238af.6dcce7","name":"","func":"return [[\n    {payload: 174,\n    topic: \"ronny/left/arm/0\"},\n    {payload: 40,\n    topic: \"ronny/left/arm/1\"},\n    {payload: 68,\n    topic: \"ronny/left/elbow/0\"},\n    {payload: 8,\n    topic: \"ronny/left/elbow/1\"}\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":372,"y":154,"wires":[["18f48387.ed10dc"],["1269e605.62cfda"]]},{"id":"1269e605.62cfda","type":"delay","z":"15a238af.6dcce7","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":206,"y":234,"wires":[["e83e544f.fd2238"]]},{"id":"e83e544f.fd2238","type":"function","z":"15a238af.6dcce7","name":"","func":"return [[\n    {payload: 174,\n    topic: \"ronny/left/arm/0\"},\n    {payload: 59,\n    topic: \"ronny/left/arm/1\"},\n    {payload: 68,\n    topic: \"ronny/left/elbow/0\"},\n    {payload: 8,\n    topic: \"ronny/left/elbow/1\"}\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":368,"y":233,"wires":[["18f48387.ed10dc"],["f2b3b135.ea28c"]]},{"id":"18f48387.ed10dc","type":"mqtt out","z":"15a238af.6dcce7","name":"","topic":"","qos":"","retain":"","broker":"1b6a728f.c180fd","x":599,"y":82,"wires":[]},{"id":"f2b3b135.ea28c","type":"delay","z":"15a238af.6dcce7","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":205,"y":304,"wires":[["3ac28cad.9ddb24"]]},{"id":"3ac28cad.9ddb24","type":"function","z":"15a238af.6dcce7","name":"","func":"return [[\n    {payload: 174,\n    topic: \"ronny/left/arm/0\"},\n    {payload: 40,\n    topic: \"ronny/left/arm/1\"},\n    {payload: 68,\n    topic: \"ronny/left/elbow/0\"},\n    {payload: 8,\n    topic: \"ronny/left/elbow/1\"}\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":367,"y":303,"wires":[["18f48387.ed10dc"],["45cfc31c.37659c"]]},{"id":"45cfc31c.37659c","type":"delay","z":"15a238af.6dcce7","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":201,"y":383,"wires":[["66981433.c4300c"]]},{"id":"66981433.c4300c","type":"function","z":"15a238af.6dcce7","name":"","func":"return [[\n    {payload: 174,\n    topic: \"ronny/left/arm/0\"},\n    {payload: 59,\n    topic: \"ronny/left/arm/1\"},\n    {payload: 68,\n    topic: \"ronny/left/elbow/0\"},\n    {payload: 8,\n    topic: \"ronny/left/elbow/1\"}\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":363,"y":382,"wires":[["18f48387.ed10dc"],["3312b825.b52128"]]},{"id":"be685d1e.c8a14","type":"function","z":"15a238af.6dcce7","name":"","func":"return [[\n    {payload: 32,\n    topic: \"ronny/left/arm/0\"},\n    {payload: 59,\n    topic: \"ronny/left/arm/1\"},\n    {payload: 8,\n    topic: \"ronny/left/elbow/0\"},\n    {payload: 8,\n    topic: \"ronny/left/elbow/1\"}\n]]\n","outputs":1,"noerr":0,"x":365,"y":450,"wires":[["18f48387.ed10dc"]]},{"id":"3312b825.b52128","type":"delay","z":"15a238af.6dcce7","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":452,"wires":[["be685d1e.c8a14"]]},{"id":"9700ab9e.6d1688","type":"mqtt in","z":"ee6e9017.4403","name":"","topic":"ronny/gesture/right-wave","qos":"2","datatype":"auto","broker":"1b6a728f.c180fd","x":198.3333740234375,"y":786.0000610351562,"wires":[["18d9f49.678470b"]]},{"id":"7481cab1.3c8914","type":"ui_button","z":"ee6e9017.4403","name":"","group":"ed4b7bae.b7f2f8","order":14,"width":"3","height":"1","passthru":false,"label":"Right wave","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":155.66671752929688,"y":875.3333129882812,"wires":[["18d9f49.678470b"]]},{"id":"24c2db8f.62d414","type":"function","z":"d3a27828.e547b8","name":"","func":"return [[\n    {payload: 97,\n    topic: \"ronny/right/arm/0\"},\n    {payload: 92,\n    topic: \"ronny/right/arm/1\"},\n    {payload: 0,\n    topic: \"ronny/right/elbow/0\"},\n    {payload: 94,\n    topic: \"ronny/right/elbow/1\"}\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":374,"y":80,"wires":[["143d93c3.78e5ac"],["b501e9ca.d09fc8"]]},{"id":"b501e9ca.d09fc8","type":"delay","z":"d3a27828.e547b8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":155,"wires":[["86377e30.61d1c"]]},{"id":"86377e30.61d1c","type":"function","z":"d3a27828.e547b8","name":"","func":"return [[\n    /*{payload: 174,\n    topic: \"ronny/right/arm/0\"},\n    {payload: 131,\n    topic: \"ronny/right/arm/1\"},*/\n    {payload: 0,\n    topic: \"ronny/right/elbow/0\"},\n    {payload: 55,\n    topic: \"ronny/right/elbow/1\"}\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":372,"y":154,"wires":[["143d93c3.78e5ac"],["3774a209.4ce3fe"]]},{"id":"3774a209.4ce3fe","type":"delay","z":"d3a27828.e547b8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":206,"y":234,"wires":[["c20fdae6.d6acf8"]]},{"id":"c20fdae6.d6acf8","type":"function","z":"d3a27828.e547b8","name":"","func":"return [[\n    /*{payload: 174,\n    topic: \"ronny/right/arm/0\"},\n    {payload: 131,\n    topic: \"ronny/right/arm/1\"},*/\n    {payload: 0,\n    topic: \"ronny/right/elbow/0\"},\n    {payload: 132,\n    topic: \"ronny/right/elbow/1\"}\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":368,"y":233,"wires":[["143d93c3.78e5ac"],["115f918f.ca07ce"]]},{"id":"143d93c3.78e5ac","type":"mqtt out","z":"d3a27828.e547b8","name":"","topic":"","qos":"","retain":"","broker":"1b6a728f.c180fd","x":599,"y":82,"wires":[]},{"id":"115f918f.ca07ce","type":"delay","z":"d3a27828.e547b8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":205,"y":304,"wires":[["4a952ea0.a3c79"]]},{"id":"4a952ea0.a3c79","type":"function","z":"d3a27828.e547b8","name":"","func":"return [[\n    /*{payload: 174,\n    topic: \"ronny/right/arm/0\"},\n    {payload: 131,\n    topic: \"ronny/right/arm/1\"},*/\n    {payload: 0,\n    topic: \"ronny/right/elbow/0\"},\n    {payload: 72,\n    topic: \"ronny/right/elbow/1\"}\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":367,"y":303,"wires":[["143d93c3.78e5ac"],["f2671353.689c5"]]},{"id":"f2671353.689c5","type":"delay","z":"d3a27828.e547b8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":201,"y":383,"wires":[["8374ce77.89eb2"]]},{"id":"8374ce77.89eb2","type":"function","z":"d3a27828.e547b8","name":"","func":"return [[\n    /*{payload: 174,\n    topic: \"ronny/right/arm/0\"},\n    {payload: 131,\n    topic: \"ronny/right/arm/1\"},*/\n    {payload: 0,\n    topic: \"ronny/right/elbow/0\"},\n    {payload: 125,\n    topic: \"ronny/right/elbow/1\"}\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":363,"y":382,"wires":[["143d93c3.78e5ac"],["850d69b9.30e698"]]},{"id":"da237156.87064","type":"function","z":"d3a27828.e547b8","name":"","func":"return [[\n    /*{payload: 32,\n    topic: \"ronny/right/arm/0\"},\n    {payload: 131,\n    topic: \"ronny/right/arm/1\"},*/\n    {payload: 0,\n    topic: \"ronny/right/elbow/0\"},\n    {payload: 94,\n    topic: \"ronny/right/elbow/1\"}\n]]\n","outputs":1,"noerr":0,"x":365,"y":450,"wires":[["143d93c3.78e5ac"]]},{"id":"850d69b9.30e698","type":"delay","z":"d3a27828.e547b8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":452,"wires":[["da237156.87064"]]},{"id":"3116f3f1.4cd79c","type":"ui_button","z":"ee6e9017.4403","name":"","group":"ed4b7bae.b7f2f8","order":18,"width":"2","height":"1","passthru":false,"label":" wave","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":143.34759521484375,"y":730.0360717773438,"wires":[["9afd7029.deb948","18d9f49.678470b"]]},{"id":"3b04803b.9294a","type":"delay","z":"2d5b175.a814ae8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":205.98577499389648,"y":126.9943642616272,"wires":[["fb12e4de.b8d198"]]},{"id":"b7d78313.ed7ee","type":"mqtt out","z":"2d5b175.a814ae8","name":"","topic":"","qos":"","retain":"","broker":"1b6a728f.c180fd","x":520.9857749938965,"y":86.9943642616272,"wires":[]},{"id":"77dfd01d.9ada9","type":"mqtt in","z":"ee6e9017.4403","name":"","topic":"ronny/gesture/clap","qos":"2","datatype":"auto","broker":"1b6a728f.c180fd","x":177,"y":495,"wires":[["27771111.2c25ce"]]},{"id":"b859879d.2ab578","type":"ui_button","z":"ee6e9017.4403","name":"","group":"ed4b7bae.b7f2f8","order":16,"width":"2","height":"1","passthru":false,"label":"Clap","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":141,"y":554,"wires":[["27771111.2c25ce"]]},{"id":"fb12e4de.b8d198","type":"function","z":"2d5b175.a814ae8","name":"","func":"return [[\n    {payload: 82,\n    topic: \"ronny/left/arm/0\"},\n    {payload: 20,\n    topic: \"ronny/left/arm/1\"},\n    {payload: 4,\n    topic: \"ronny/left/elbow/0\"},\n    {payload: 33,\n    topic: \"ronny/left/elbow/1\"},\n    \n    {payload: 82,\n    topic: \"ronny/right/arm/0\"},\n    {payload: 20,\n    topic: \"ronny/right/arm/1\"},\n    {payload: 4,\n    topic: \"ronny/right/elbow/0\"},\n    {payload: 33,\n    topic: \"ronny/right/elbow/1\"}\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":358.9857749938965,"y":125.9943642616272,"wires":[["b7d78313.ed7ee"],["1de0098d.fd81c6"]]},{"id":"fb082170.b8c66","type":"function","z":"2d5b175.a814ae8","name":"","func":"return [[\n    {payload: 82,\n    topic: \"ronny/left/arm/0\"},\n    {payload: 42,\n    topic: \"ronny/left/arm/1\"},\n    {payload: 4,\n    topic: \"ronny/left/elbow/0\"},\n    {payload: 33,\n    topic: \"ronny/left/elbow/1\"},\n    \n    {payload: 82,\n    topic: \"ronny/right/arm/0\"},\n    {payload: 42,\n    topic: \"ronny/right/arm/1\"},\n    {payload: 4,\n    topic: \"ronny/right/elbow/0\"},\n    {payload: 33,\n    topic: \"ronny/right/elbow/1\"}\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":353.9857749938965,"y":166.9943642616272,"wires":[["b7d78313.ed7ee"],["be4bb2a9.66b65"]]},{"id":"be4bb2a9.66b65","type":"delay","z":"2d5b175.a814ae8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":209.97154998779297,"y":211.9887285232544,"wires":[["1ff274b6.43994b"]]},{"id":"1ff274b6.43994b","type":"function","z":"2d5b175.a814ae8","name":"","func":"return [[\n    {payload: 82,\n    topic: \"ronny/left/arm/0\"},\n    {payload: 20,\n    topic: \"ronny/left/arm/1\"},\n    {payload: 4,\n    topic: \"ronny/left/elbow/0\"},\n    {payload: 33,\n    topic: \"ronny/left/elbow/1\"},\n    \n    {payload: 82,\n    topic: \"ronny/right/arm/0\"},\n    {payload: 20,\n    topic: \"ronny/right/arm/1\"},\n    {payload: 4,\n    topic: \"ronny/right/elbow/0\"},\n    {payload: 33,\n    topic: \"ronny/right/elbow/1\"}\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":352.97154998779297,"y":210.9887285232544,"wires":[["b7d78313.ed7ee"],["3c74fb6.2e29004"]]},{"id":"1de0098d.fd81c6","type":"delay","z":"2d5b175.a814ae8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":214.98577499389648,"y":166.9943642616272,"wires":[["fb082170.b8c66"]]},{"id":"6801b122.bad21","type":"function","z":"2d5b175.a814ae8","name":"","func":"return [[\n    {payload: 82,\n    topic: \"ronny/left/arm/0\"},\n    {payload: 42,\n    topic: \"ronny/left/arm/1\"},\n    {payload: 4,\n    topic: \"ronny/left/elbow/0\"},\n    {payload: 33,\n    topic: \"ronny/left/elbow/1\"},\n    \n    {payload: 82,\n    topic: \"ronny/right/arm/0\"},\n    {payload: 42,\n    topic: \"ronny/right/arm/1\"},\n    {payload: 4,\n    topic: \"ronny/right/elbow/0\"},\n    {payload: 33,\n    topic: \"ronny/right/elbow/1\"}\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":352.2357749938965,"y":261.2443642616272,"wires":[["b7d78313.ed7ee"],["dae6a656.c21d78"]]},{"id":"dae6a656.c21d78","type":"delay","z":"2d5b175.a814ae8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":208.22154998779297,"y":306.2387285232544,"wires":[["3b97d63.b8ad22a"]]},{"id":"3b97d63.b8ad22a","type":"function","z":"2d5b175.a814ae8","name":"","func":"return [[\n    {payload: 82,\n    topic: \"ronny/left/arm/0\"},\n    {payload: 20,\n    topic: \"ronny/left/arm/1\"},\n    {payload: 4,\n    topic: \"ronny/left/elbow/0\"},\n    {payload: 33,\n    topic: \"ronny/left/elbow/1\"},\n    \n    {payload: 82,\n    topic: \"ronny/right/arm/0\"},\n    {payload: 20,\n    topic: \"ronny/right/arm/1\"},\n    {payload: 4,\n    topic: \"ronny/right/elbow/0\"},\n    {payload: 33,\n    topic: \"ronny/right/elbow/1\"}\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":351.22154998779297,"y":305.2387285232544,"wires":[["b7d78313.ed7ee"],[]]},{"id":"3c74fb6.2e29004","type":"delay","z":"2d5b175.a814ae8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":213.23577499389648,"y":261.2443642616272,"wires":[["6801b122.bad21"]]},{"id":"5a13c28d.fa6d34","type":"function","z":"de5384f0.ddfab8","name":"","func":"return [[\n    {payload: 174,\n    topic: \"ronny/right/arm/0\"},\n    {payload: 51,\n    topic: \"ronny/right/arm/1\"},\n    {payload: 112,\n    topic: \"ronny/right/elbow/0\"},\n    {payload: 15,\n    topic: \"ronny/right/elbow/1\"}\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":200,"y":85,"wires":[["848b258d.ae534"],["a38fd30c.e33738"]]},{"id":"a38fd30c.e33738","type":"delay","z":"de5384f0.ddfab8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":205.98577499389648,"y":131.9943642616272,"wires":[["2fbfeb44.a83234"]]},{"id":"b659276.01efb58","type":"mqtt in","z":"ee6e9017.4403","name":"","topic":"ronny/gesture/bye","qos":"2","datatype":"auto","broker":"1b6a728f.c180fd","x":154.00001525878906,"y":1012.994384765625,"wires":[["d2d56bab.770bc"]]},{"id":"eb4e1545.d0545","type":"ui_button","z":"ee6e9017.4403","name":"","group":"ed4b7bae.b7f2f8","order":17,"width":"2","height":"1","passthru":false,"label":"Bye","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170.00001525878906,"y":1060.994384765625,"wires":[["d2d56bab.770bc"]]},{"id":"5beb8b5d.0c303c","type":"delay","z":"de5384f0.ddfab8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":209.97154998779297,"y":216.9887285232544,"wires":[["5e6eab9a.692ebc"]]},{"id":"6b6e240b.9d8464","type":"delay","z":"de5384f0.ddfab8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":214.98577499389648,"y":171.9943642616272,"wires":[["ea07d6d8.417878"]]},{"id":"848b258d.ae534","type":"mqtt out","z":"de5384f0.ddfab8","name":"","topic":"","qos":"","retain":"","broker":"1b6a728f.c180fd","x":579.9857749938965,"y":80,"wires":[]},{"id":"2fbfeb44.a83234","type":"function","z":"de5384f0.ddfab8","name":"","func":"return [[\n    {payload: 174,\n    topic: \"ronny/right/arm/0\"},\n    {payload: 51,\n    topic: \"ronny/right/arm/1\"},\n    {payload: 112,\n    topic: \"ronny/right/elbow/0\"},\n    {payload: 81,\n    topic: \"ronny/right/elbow/1\"}\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":384.9857749938965,"y":127,"wires":[["848b258d.ae534"],["6b6e240b.9d8464"]]},{"id":"ea07d6d8.417878","type":"function","z":"de5384f0.ddfab8","name":"","func":"return [[\n    {payload: 174,\n    topic: \"ronny/right/arm/0\"},\n    {payload: 51,\n    topic: \"ronny/right/arm/1\"},\n    {payload: 112,\n    topic: \"ronny/right/elbow/0\"},\n    {payload: 15,\n    topic: \"ronny/right/elbow/1\"}\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":387.9857749938965,"y":179,"wires":[["848b258d.ae534"],["5beb8b5d.0c303c"]]},{"id":"5e6eab9a.692ebc","type":"function","z":"de5384f0.ddfab8","name":"","func":"return [[\n    {payload: 174,\n    topic: \"ronny/right/arm/0\"},\n    {payload: 51,\n    topic: \"ronny/right/arm/1\"},\n    {payload: 112,\n    topic: \"ronny/right/elbow/0\"},\n    {payload: 81,\n    topic: \"ronny/right/elbow/1\"}\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":387.9857749938965,"y":225,"wires":[["848b258d.ae534"],["d87f7d6a.1edff"]]},{"id":"d87f7d6a.1edff","type":"delay","z":"de5384f0.ddfab8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":214.98577499389648,"y":271,"wires":[["b983ecfd.e6c078"]]},{"id":"b983ecfd.e6c078","type":"function","z":"de5384f0.ddfab8","name":"","func":"return [[\n    {payload: 30,\n    topic: \"ronny/right/arm/0\"},\n    {payload: 51,\n    topic: \"ronny/right/arm/1\"},\n    {payload: 112,\n    topic: \"ronny/right/elbow/0\"},\n    {payload: 24,\n    topic: \"ronny/right/elbow/1\"}\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":382.9857749938965,"y":270.005615234375,"wires":[["848b258d.ae534"],[]]},{"id":"d2d56bab.770bc","type":"subflow:de5384f0.ddfab8","z":"ee6e9017.4403","name":"","env":[],"x":449.0071258544922,"y":1034.5000205039978,"wires":[]},{"id":"27771111.2c25ce","type":"subflow:2d5b175.a814ae8","z":"ee6e9017.4403","name":"","env":[],"x":459.50714111328125,"y":476.125,"wires":[]},{"id":"9afd7029.deb948","type":"subflow:15a238af.6dcce7","z":"ee6e9017.4403","name":"","env":[],"x":478.5,"y":611.0000610351562,"wires":[]},{"id":"18d9f49.678470b","type":"subflow:d3a27828.e547b8","z":"ee6e9017.4403","name":"","env":[],"x":486.1666259765625,"y":731.3333129882812,"wires":[]},{"id":"ce59fedb.4e6f1","type":"ui_button","z":"9ac0893f.15a298","name":"","group":"451ec332.1bdfdc","order":3,"width":"3","height":"1","passthru":false,"label":"eyes open","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"ronny/eyes/open","x":676.7017288208008,"y":202.34658241271973,"wires":[["a71c0671.66c688"]]},{"id":"a71c0671.66c688","type":"mqtt out","z":"9ac0893f.15a298","name":"","topic":"","qos":"","retain":"","broker":"1b6a728f.c180fd","x":931.7016639709473,"y":273.05395698547363,"wires":[]},{"id":"2568bf.0baef742","type":"ui_text_input","z":"9ac0893f.15a298","name":"","label":"eyes","tooltip":"","group":"451ec332.1bdfdc","order":6,"width":"4","height":"1","passthru":true,"mode":"text","delay":"0","topic":"ronny/eyes/2","x":689.6988372802734,"y":307.26983642578125,"wires":[["a71c0671.66c688"]]},{"id":"965fcd5.a8bcd3","type":"ui_button","z":"9ac0893f.15a298","name":"","group":"451ec332.1bdfdc","order":3,"width":"3","height":"1","passthru":false,"label":"eyes tiny","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"ronny/eyes/tiny","x":687.0142288208008,"y":253.00566959381104,"wires":[["a71c0671.66c688"]]},{"id":"f67e0da9.b44bb","type":"function","z":"9ac0893f.15a298","name":"","func":"\nreturn {topic: 'ronny/eyes/2', payload: '--'};","outputs":1,"noerr":0,"x":732.0142097473145,"y":53.005685806274414,"wires":[["a71c0671.66c688","748cb73b.4968d8"]]},{"id":"748cb73b.4968d8","type":"delay","z":"9ac0893f.15a298","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":907.0139389038086,"y":52.00567150115967,"wires":[["148518af.4ef167"]]},{"id":"148518af.4ef167","type":"function","z":"9ac0893f.15a298","name":"","func":"\nreturn {topic: 'ronny/eyes/2', payload: '__'};","outputs":1,"noerr":0,"x":923.0141372680664,"y":115.00566864013672,"wires":[["a71c0671.66c688"]]},{"id":"e99c46ae.99aad8","type":"ui_button","z":"9ac0893f.15a298","name":"","group":"451ec332.1bdfdc","order":3,"width":"3","height":"1","passthru":false,"label":"eyes close","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":528.0142364501953,"y":51.005685806274414,"wires":[["f67e0da9.b44bb"]]},{"id":"e539a745.f144b8","type":"delay","z":"9ac0893f.15a298","name":"","pauseType":"random","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10000","randomLast":"5000","randomUnits":"milliseconds","drop":false,"x":876.6903762817383,"y":385.98571395874023,"wires":[["2fae8ded.4bcf72"]]},{"id":"587ed2c0.513ffc","type":"inject","z":"9ac0893f.15a298","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":672.6988525390625,"y":380.89202880859375,"wires":[[]]},{"id":"2fae8ded.4bcf72","type":"function","z":"9ac0893f.15a298","name":"","func":"\nreturn {topic: 'ronny/eyes/2', payload: '--'};","outputs":1,"noerr":0,"x":916.0142440795898,"y":444.00566482543945,"wires":[["67448ebb.68425"]]},{"id":"2aad64f6.ee236c","type":"mqtt out","z":"9ac0893f.15a298","name":"","topic":"","qos":"","retain":"","broker":"1b6a728f.c180fd","x":1200.01416015625,"y":501.00567626953125,"wires":[]},{"id":"67448ebb.68425","type":"delay","z":"9ac0893f.15a298","name":"","pauseType":"random","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"100","randomLast":"250","randomUnits":"milliseconds","drop":false,"x":862.0142211914062,"y":495.00567626953125,"wires":[["e6469723.31e5f8"]]},{"id":"e6469723.31e5f8","type":"function","z":"9ac0893f.15a298","name":"","func":"\nreturn {topic: 'ronny/eyes/2', payload: 'OO'};","outputs":1,"noerr":0,"x":910.0142211914062,"y":545.0056762695312,"wires":[["e539a745.f144b8"]]},{"id":"4f597861.76d598","type":"inject","z":"683a2b63.f6cad4","name":"","topic":"ronny/body/save","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":197,"y":637,"wires":[["371a041.35c3bfc"]]},{"id":"69c6ff82.c9454","type":"mqtt out","z":"235f9d9e.d6c092","name":"","topic":"ronny/eye/command","qos":"","retain":"","broker":"3718557c.fc8e2a","x":1101,"y":198,"wires":[]},{"id":"b4eb6dd4.b6e54","type":"function","z":"235f9d9e.d6c092","name":"Eye controler","func":"var eyeX = Math.round(Math.random() * 60);\nvar eyeY = Math.round(Math.random() * 30) + 15;\nvar pupil = Math.round(Math.random() * 250) + 4;\nvar upperLid = Math.round(Math.random() * 120);\nvar lowerLid = Math.round(Math.random() * 120);\n\n//Blinking\nif(flow.get(\"blink\") === 0)\n{\n    lowerLid = 255;\n    eyeX = flow.get(\"eyeX\");\n    eyeY = flow.get(\"eyeY\");\n    upperLid = flow.get(\"upperLid\");\n    pupil = flow.get(\"pupil\");\n    \n    flow.set(\"blink\", -1);\n    flow.set(\"lastBlink\", Date.now());\n    \n    msg.delay = 100;\n    //msg.payload = \"blink\";\n\n}\n\n//First send after Blink\nelse if(flow.get(\"blink\") == -1)\n{\n    eyeX = flow.get(\"eyeX\");\n    eyeY = flow.get(\"eyeY\");\n    upperLid = flow.get(\"upperLid\");\n    lowerLid = flow.get(\"lowerLid\");\n    pupil = flow.get(\"pupil\");\n    \n    flow.set(\"blink\", 1);\n    \n    msg.delay = Math.round(Math.random() * 2500) + 500;\n}\n\n//Did not blinked and not blinking\nelse\n{\n    flow.set(\"eyeX\", eyeX);\n    flow.set(\"eyeY\", eyeY);\n    flow.set(\"upperLid\", upperLid);\n    flow.set(\"lowerLid\", lowerLid);\n    flow.set(\"pupil\", pupil);\n    \n    msg.delay = Math.round(Math.random() * 2500) + 500;\n}\n\nmsg.payload = \"\\\"\" + eyeX + \",\" + eyeY + \",\" + pupil + \",\" + upperLid + \",\" + lowerLid + \"\\\"\"; \nreturn msg;\n","outputs":1,"noerr":0,"x":694,"y":192,"wires":[["fb4b044c.d2a638","5ac3776a.73d048"]]},{"id":"fb4b044c.d2a638","type":"delay","z":"235f9d9e.d6c092","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"4","randomLast":"8","randomUnits":"seconds","drop":false,"x":695,"y":103,"wires":[["b4eb6dd4.b6e54"]]},{"id":"8d5a61e6.ca17e","type":"function","z":"235f9d9e.d6c092","name":"Blinking trigger","func":"flow.set(\"blink\", 0);\nreturn msg;","outputs":1,"noerr":0,"x":828,"y":296,"wires":[["a98419a7.5c6db8"]]},{"id":"a98419a7.5c6db8","type":"delay","z":"235f9d9e.d6c092","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"5","randomLast":"9","randomUnits":"seconds","drop":false,"x":628,"y":296,"wires":[["8d5a61e6.ca17e"]]},{"id":"73b27137.e711f","type":"ui_slider","z":"235f9d9e.d6c092","name":"","label":"eyex","tooltip":"","group":"57dd2a7d.fb8ee4","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"ronny/eye/command","min":0,"max":"78","step":1,"x":513,"y":408,"wires":[["42229612.b0bdc8"]]},{"id":"94395b9f.4ccc08","type":"mqtt out","z":"235f9d9e.d6c092","name":"","topic":"ronny/eye/command","qos":"","retain":"","broker":"1b6a728f.c180fd","x":1174,"y":487,"wires":[]},{"id":"42229612.b0bdc8","type":"change","z":"235f9d9e.d6c092","name":"","rules":[{"t":"set","p":"eyeX","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":722,"y":410,"wires":[["17e88b4c.ba9315"]]},{"id":"17e88b4c.ba9315","type":"function","z":"235f9d9e.d6c092","name":"Msg formater","func":"msg.payload = \"\\\"\" + flow.get(\"eyeX\") + \",\" + flow.get(\"eyeY\") + \",\" + flow.get(\"pupil\") + \",\" + flow.get(\"upperLid\") + \",\" + flow.get(\"lowerLid\") + \"\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":976,"y":487,"wires":[["94395b9f.4ccc08"]]},{"id":"6452cb39.0fb3a4","type":"ui_slider","z":"235f9d9e.d6c092","name":"","label":"eyeY","tooltip":"","group":"57dd2a7d.fb8ee4","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"78","step":1,"x":510,"y":450,"wires":[["e1ca3318.3c918"]]},{"id":"e1ca3318.3c918","type":"change","z":"235f9d9e.d6c092","name":"","rules":[{"t":"set","p":"eyeY","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":722,"y":450,"wires":[["17e88b4c.ba9315"]]},{"id":"e3870ec4.9848e","type":"ui_slider","z":"235f9d9e.d6c092","name":"","label":"pupil","tooltip":"","group":"57dd2a7d.fb8ee4","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"4","max":"255","step":1,"x":511,"y":488,"wires":[["8d361a72.87f7a8"]]},{"id":"1c69880d.8e14f8","type":"ui_slider","z":"235f9d9e.d6c092","name":"","label":"upperLid","tooltip":"","group":"57dd2a7d.fb8ee4","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"255","step":1,"x":522,"y":530,"wires":[["66280a0e.f10694"]]},{"id":"a8555eaf.cef9c","type":"ui_slider","z":"235f9d9e.d6c092","name":"","label":"lowerLid","tooltip":"","group":"57dd2a7d.fb8ee4","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"255","step":1,"x":522,"y":571,"wires":[["5a292da1.0f8124"]]},{"id":"8d361a72.87f7a8","type":"change","z":"235f9d9e.d6c092","name":"","rules":[{"t":"set","p":"pupil","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":722,"y":487,"wires":[["17e88b4c.ba9315"]]},{"id":"66280a0e.f10694","type":"change","z":"235f9d9e.d6c092","name":"","rules":[{"t":"set","p":"upperLid","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":529,"wires":[["17e88b4c.ba9315"]]},{"id":"5a292da1.0f8124","type":"change","z":"235f9d9e.d6c092","name":"","rules":[{"t":"set","p":"lowerLid","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":568,"wires":[["17e88b4c.ba9315"]]},{"id":"185fc68.a49543a","type":"inject","z":"ee6e9017.4403","name":"","topic":"","payload":"","payloadType":"date","repeat":"16","crontab":"","once":true,"onceDelay":0.1,"x":158,"y":919,"wires":[["bd87062e.ae9168"]]},{"id":"72964e91.9c181","type":"trigger","z":"ee6e9017.4403","op1":"95","op2":"146","op1type":"num","op2type":"num","duration":"7","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1091,"y":759,"wires":[["1108c6d6.bd8979"]]},{"id":"1108c6d6.bd8979","type":"mqtt out","z":"ee6e9017.4403","name":"","topic":"ronny/right/arm/0","qos":"","retain":"","broker":"1b6a728f.c180fd","x":1270,"y":759,"wires":[]},{"id":"ab9dfbe2.e06208","type":"inject","z":"ee6e9017.4403","name":"","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":true,"onceDelay":0.1,"x":801,"y":759,"wires":[[]]},{"id":"2723def1.1fd612","type":"function","z":"92fa30da.6d9f6","name":"","func":"return [[\n    {payload: 80,\n    topic: \"ronny/body/head\"},\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":403,"y":108,"wires":[["b1f9602f.13b2"],["10547e9d.767831"]]},{"id":"10547e9d.767831","type":"delay","z":"92fa30da.6d9f6","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":239,"y":183,"wires":[["db08789f.c254b8"]]},{"id":"d245cf89.68fa6","type":"delay","z":"92fa30da.6d9f6","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":235,"y":262,"wires":[["bb4f64f9.211748"]]},{"id":"b1f9602f.13b2","type":"mqtt out","z":"92fa30da.6d9f6","name":"","topic":"","qos":"","retain":"","broker":"1b6a728f.c180fd","x":628,"y":110,"wires":[]},{"id":"a9a5b0d9.5b906","type":"delay","z":"92fa30da.6d9f6","name":"","pauseType":"delay","timeout":"1900","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":254,"y":332,"wires":[["bcdde65f.e72278"]]},{"id":"89ef82d6.86c81","type":"delay","z":"92fa30da.6d9f6","name":"","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":411,"wires":[["acf7bec3.081be"]]},{"id":"5b13a70c.2cc288","type":"delay","z":"92fa30da.6d9f6","name":"","pauseType":"delay","timeout":"1600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":249,"y":480,"wires":[["2809ecad.1a3574"]]},{"id":"db08789f.c254b8","type":"function","z":"92fa30da.6d9f6","name":"","func":"return [[\n    {payload: 65,\n    topic: \"ronny/body/head\"},\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":411,"y":182,"wires":[["b1f9602f.13b2"],["d245cf89.68fa6"]]},{"id":"bb4f64f9.211748","type":"function","z":"92fa30da.6d9f6","name":"","func":"return [[\n    {payload: 95,\n    topic: \"ronny/body/chest\"},\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":414,"y":263,"wires":[["b1f9602f.13b2"],["a9a5b0d9.5b906"]]},{"id":"bcdde65f.e72278","type":"function","z":"92fa30da.6d9f6","name":"","func":"return [[\n    {payload: 20,\n    topic: \"ronny/body/chest\"},\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":410,"y":330,"wires":[["b1f9602f.13b2"],["89ef82d6.86c81"]]},{"id":"acf7bec3.081be","type":"function","z":"92fa30da.6d9f6","name":"","func":"return [[\n    {payload: 60,\n    topic: \"ronny/body/chest\"},\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":410,"y":409,"wires":[["b1f9602f.13b2"],["5b13a70c.2cc288"]]},{"id":"2809ecad.1a3574","type":"function","z":"92fa30da.6d9f6","name":"","func":"return [[\n    {payload: 110,\n    topic: \"ronny/body/chest\"},\n], {payload: 1}]\n","outputs":2,"noerr":0,"x":408,"y":480,"wires":[["b1f9602f.13b2"],["2cff4a24.279266"]]},{"id":"2cff4a24.279266","type":"delay","z":"92fa30da.6d9f6","name":"","pauseType":"delay","timeout":"2500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":558,"wires":[["96ae82c9.14b77"]]},{"id":"96ae82c9.14b77","type":"function","z":"92fa30da.6d9f6","name":"","func":"return [[\n    {payload: 80,\n    topic: \"ronny/body/chest\"},\n], {payload: 1}]\n","outputs":1,"noerr":0,"x":409,"y":558,"wires":[["b1f9602f.13b2"]]},{"id":"a85b25c3.efa568","type":"inject","z":"ee6e9017.4403","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":0.1,"x":803,"y":899,"wires":[["841c0bdf.2ee328"]]},{"id":"e896fbc.7aa9e08","type":"ui_switch","z":"ee6e9017.4403","name":"","label":"Clamp auto move","tooltip":"","group":"ed4b7bae.b7f2f8","order":20,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":818,"y":719,"wires":[["5c04e7d1.b7cce8"]]},{"id":"5c04e7d1.b7cce8","type":"change","z":"ee6e9017.4403","name":"","rules":[{"t":"set","p":"clamp_movement","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1036,"y":666,"wires":[[]]},{"id":"4cde6746.59faf8","type":"switch","z":"ee6e9017.4403","name":"","property":"clamp_movement","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":947,"y":756,"wires":[["72964e91.9c181"],[]]},{"id":"ac877664.05e468","type":"ui_switch","z":"ee6e9017.4403","name":"","label":"Wave auto move","tooltip":"","group":"ed4b7bae.b7f2f8","order":20,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":306,"y":968,"wires":[["ece2ca08.b5f4f8"]]},{"id":"ece2ca08.b5f4f8","type":"change","z":"ee6e9017.4403","name":"","rules":[{"t":"set","p":"wave_movement","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":544,"y":967,"wires":[[]]},{"id":"bd87062e.ae9168","type":"switch","z":"ee6e9017.4403","name":"","property":"wave_movement","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":326,"y":920,"wires":[["18d9f49.678470b"],[]]},{"id":"5eaca622.1c9708","type":"ui_switch","z":"235f9d9e.d6c092","name":"","label":"Eyes auto move","tooltip":"","group":"57dd2a7d.fb8ee4","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":379,"y":57,"wires":[["f27483e1.9196e"]]},{"id":"f27483e1.9196e","type":"change","z":"235f9d9e.d6c092","name":"","rules":[{"t":"set","p":"eyes_movement","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":644,"y":57,"wires":[[]]},{"id":"6ee5fd8f.769df4","type":"inject","z":"235f9d9e.d6c092","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":296,"y":184,"wires":[["b4eb6dd4.b6e54","a98419a7.5c6db8"]]},{"id":"5ac3776a.73d048","type":"switch","z":"235f9d9e.d6c092","name":"","property":"eyes_movement","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":891,"y":195,"wires":[["69c6ff82.c9454"],[]]},{"id":"b9e07480.f01f08","type":"mqtt in","z":"d678c342.9a039","name":"","topic":"node/radio-presenter:0/accelerometer/-/acceleration","qos":"2","broker":"bbb9eec7.c40ec","x":297,"y":763,"wires":[["8a66df10.f421c"]]},{"id":"8a66df10.f421c","type":"json","z":"d678c342.9a039","name":"","property":"payload","action":"","pretty":false,"x":655,"y":768,"wires":[["10c10e47.7eb752"]]},{"id":"10c10e47.7eb752","type":"function","z":"d678c342.9a039","name":"press button functions","func":"xValue = msg.payload[0];\nyValue = msg.payload[1];\nzValue = msg.payload[2];\nif(xValue > 0.4)\n{\n    msg.payload = \"right\";\n}\nelse if(xValue < -0.4)\n{\n    msg.payload = \"left\";\n}\nelse if(yValue > 0.3)\n{\n    msg.payload = \"forward\";\n}\nelse if(yValue < -0.3)\n{\n    msg.payload = \"backward\";\n}\nelse\n{\n    msg.payload = \"stop\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":946,"y":767,"wires":[["54af08db.6ff1e8"]]},{"id":"54af08db.6ff1e8","type":"switch","z":"d678c342.9a039","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"forward","vt":"str"},{"t":"eq","v":"backward","vt":"str"},{"t":"eq","v":"left","vt":"str"},{"t":"eq","v":"right","vt":"str"},{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":374,"y":647,"wires":[["1e984af9.2ef335"],["4b5d32c0.b7648c"],["27290df1.3677d2"],["9cb05287.6b77e"],[]]},{"id":"2c08a86b.85dcf8","type":"mqtt in","z":"ee6e9017.4403","name":"","topic":"node/radio-presenter:0/accelerometer/-/acceleration_hold","qos":"2","datatype":"auto","broker":"bbb9eec7.c40ec","x":289,"y":832,"wires":[["18d9f49.678470b","114d3760.37c6d9"]]},{"id":"3fb8b9aa.a6e036","type":"inject","z":"ee6e9017.4403","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":127,"y":968,"wires":[[]]},{"id":"1243303.511d3d","type":"inject","z":"235f9d9e.d6c092","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":195,"y":46,"wires":[["5eaca622.1c9708"]]},{"id":"434333a6.e5483c","type":"ui_slider","z":"683a2b63.f6cad4","name":"","label":"bend","tooltip":"","group":"ed4b7bae.b7f2f8","order":2,"width":0,"height":0,"passthru":false,"outs":"all","topic":"ronny/body/bend","min":"80","max":"100","step":1,"x":312,"y":20,"wires":[["14d2a524.6f076b"]]},{"id":"197e9be0.384104","type":"debug","z":"9ac0893f.15a298","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":563,"y":863,"wires":[]},{"id":"e7f84d56.edd1f","type":"mqtt in","z":"9ac0893f.15a298","name":"","topic":"ronny/camera/#","qos":"2","datatype":"auto","broker":"1b6a728f.c180fd","x":291,"y":854,"wires":[["197e9be0.384104"]]},{"id":"c6b81dc3.91d0f","type":"mqtt in","z":"721eb409.04fe9c","name":"","topic":"ronny/camera/object-detected","qos":"2","datatype":"auto","broker":"1b6a728f.c180fd","x":333,"y":300,"wires":[["afe0dc51.70062","687b1af7.0bde04"]]},{"id":"afe0dc51.70062","type":"switch","z":"721eb409.04fe9c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":585,"y":299,"wires":[["6afbf0f5.b4c99","97e415fb.ee3128","1be7782c.3d6d38"],["10ce3c44.3a2a44","7eb9b658.e958a8","7441a24c.660f7c"]]},{"id":"10ce3c44.3a2a44","type":"function","z":"721eb409.04fe9c","name":"Msg formater","func":"flow.set(\"eyeX\", 31);\nflow.set(\"eyeY\", 36);\nflow.set(\"upperLid\", 83);\nflow.set(\"lowerLid\", 166);\nflow.set(\"pupil\", 41);\nmsg.payload = \"\\\"\" + flow.get(\"eyeX\") + \",\" + flow.get(\"eyeY\") + \",\" + flow.get(\"pupil\") + \",\" + flow.get(\"upperLid\") + \",\" + flow.get(\"lowerLid\") + \"\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":795,"y":341,"wires":[["dee67f57.68b89"]]},{"id":"dee67f57.68b89","type":"mqtt out","z":"721eb409.04fe9c","name":"","topic":"ronny/eye/command","qos":"","retain":"","broker":"1b6a728f.c180fd","x":1124,"y":299,"wires":[]},{"id":"ccbe29d0.eb85c8","type":"ui_slider","z":"683a2b63.f6cad4","name":"","label":"head","tooltip":"","group":"ed4b7bae.b7f2f8","order":1,"width":0,"height":0,"passthru":false,"outs":"all","topic":"ronny/body/head","min":"30","max":"145","step":1,"x":312,"y":489,"wires":[["14d2a524.6f076b"]]},{"id":"62b536f2.430258","type":"mqtt out","z":"ee6e9017.4403","name":"","topic":"ronny/body/head","qos":"","retain":"","broker":"1b6a728f.c180fd","x":1328,"y":923,"wires":[]},{"id":"2f18b2d6.47ec6e","type":"function","z":"ee6e9017.4403","name":"","func":"msg.payload = Math.round(Math.random() * 50) + 40;\nglobal.set(\"head\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1129,"y":917,"wires":[["62b536f2.430258"]]},{"id":"6afbf0f5.b4c99","type":"function","z":"721eb409.04fe9c","name":"Msg formater","func":"flow.set(\"eyeX\", 31);\nflow.set(\"eyeY\", 36);\nflow.set(\"upperLid\", 20);\nflow.set(\"lowerLid\", 0);\nflow.set(\"pupil\", 66);\nmsg.payload = \"\\\"\" + flow.get(\"eyeX\") + \",\" + flow.get(\"eyeY\") + \",\" + flow.get(\"pupil\") + \",\" + flow.get(\"upperLid\") + \",\" + flow.get(\"lowerLid\") + \"\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":794,"y":234,"wires":[["dee67f57.68b89"]]},{"id":"841c0bdf.2ee328","type":"switch","z":"ee6e9017.4403","name":"","property":"head_movement","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":969,"y":902,"wires":[["2f18b2d6.47ec6e"],[]]},{"id":"b62e7207.410ac","type":"inject","z":"721eb409.04fe9c","name":"","topic":"","payload":"false","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":400,"y":391,"wires":[["afe0dc51.70062"]]},{"id":"7eb9b658.e958a8","type":"change","z":"721eb409.04fe9c","name":"","rules":[{"t":"set","p":"head_movement","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":842,"y":374,"wires":[[]]},{"id":"97e415fb.ee3128","type":"change","z":"721eb409.04fe9c","name":"","rules":[{"t":"set","p":"head_movement","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":842,"y":195,"wires":[[]]},{"id":"9a173bfd.10b228","type":"function","z":"721eb409.04fe9c","name":"yPosStabilazer","func":"//600x480\nvar yPos = msg.payload.y;\n\nvar midPosY = 240;\n\nif(yPos < 240)\n{\n    for(var i = yPos; i != midPosY; i++)\n    {\n        msg.payload = i;\n        node.send(msg);\n    }\n}\nelse if(yPos > 240)\n{\n    for(var i = yPos; i != midPosY; i--)\n    {\n        msg.payload = i\n        node.send(msg);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":559,"y":477,"wires":[[]]},{"id":"ec6184eb.ffb848","type":"mqtt in","z":"721eb409.04fe9c","name":"","topic":"ronny/camera/object","qos":"2","datatype":"json","broker":"1b6a728f.c180fd","x":213,"y":582,"wires":[["77718001.9fe6c"]]},{"id":"77718001.9fe6c","type":"function","z":"721eb409.04fe9c","name":"xPosStabilazer","func":"//600x480\nvar xPos = msg.payload.x;\nvar midPosX = 300;\nvar in_min = 0;\nvar in_max = 600;\nvar out_min = 15;\nvar out_max = -15;\n\nmsg.payload = parseInt(global.get(\"head\"));\nmsg.payload += (xPos - in_min) * (out_max - out_min) / (in_max - in_min) + out_min;\nglobal.set(\"head\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":467,"y":585,"wires":[["d6de5b21.6a1af8"]]},{"id":"d6de5b21.6a1af8","type":"mqtt out","z":"721eb409.04fe9c","name":"","topic":"ronny/body/head","qos":"","retain":"","broker":"1b6a728f.c180fd","x":1059,"y":515,"wires":[]},{"id":"3e261086.3319c","type":"mqtt in","z":"235f9d9e.d6c092","name":"","topic":"ronny/eye/command","qos":"2","datatype":"auto","broker":"1b6a728f.c180fd","x":239,"y":636,"wires":[[]]},{"id":"687b1af7.0bde04","type":"subflow:d3a27828.e547b8","z":"721eb409.04fe9c","name":"","x":557,"y":201,"wires":[]},{"id":"1be7782c.3d6d38","type":"change","z":"721eb409.04fe9c","name":"","rules":[{"t":"set","p":"eyes_movement","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":844,"y":159,"wires":[[]]},{"id":"7441a24c.660f7c","type":"change","z":"721eb409.04fe9c","name":"","rules":[{"t":"set","p":"eyes_movement","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":843,"y":412,"wires":[[]]},{"id":"114d3760.37c6d9","type":"debug","z":"ee6e9017.4403","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":593,"y":847,"wires":[]}]
